<ul>
    <li>
        <a href="{{ routes.account_url }}"{% if request.path == routes.account_url %} class="active"{% endif %}>
            <span class="adev-cl__nav-title">Dashboard</span>
            <span class="adev-cl__nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9.172 18.657a1 1 0 0 1-.707-1.707l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414l5.656 5.657a1 1 0 0 1 0 1.414L9.88 18.364a.997.997 0 0 1-.707.293Z"/></svg>
            </span>
        </a>
    </li>
    
    <li>
        <a id="myAccountManageSubscriptionLink" target="_blank" href="https://talitha.com/tools/recurring/get-subscription-access">
            <span class="adev-cl__nav-title">Manage Subscription</span>
            <span class="adev-cl__nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9.172 18.657a1 1 0 0 1-.707-1.707l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414l5.656 5.657a1 1 0 0 1 0 1.414L9.88 18.364a.997.997 0 0 1-.707.293Z"/></svg>
            </span>
        </a>
    </li>
    
    <li> 
        <a href="{{ routes.account_url }}?view=orders"{% if template.suffix == 'orders' %} class="active"{% endif %}>
            <span class="adev-cl__nav-title">My Orders</span>
            <span class="adev-cl__nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9.172 18.657a1 1 0 0 1-.707-1.707l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414l5.656 5.657a1 1 0 0 1 0 1.414L9.88 18.364a.997.997 0 0 1-.707.293Z"/></svg>
            </span>
        </a>
    </li>

    <li>
        <a href="{{ routes.account_addresses_url }}"{% if request.path == routes.account_addresses_url %} class="active"{% endif %}> 
            <span class="adev-cl__nav-title">Address & Billing</span>
            <span class="adev-cl__nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9.172 18.657a1 1 0 0 1-.707-1.707l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414l5.656 5.657a1 1 0 0 1 0 1.414L9.88 18.364a.997.997 0 0 1-.707.293Z"/></svg>
            </span>
        </a>
    </li>

    <li>
        <a href="{{ routes.account_logout_url }}">
            <span class="adev-cl__nav-title">Logout</span>
            <span class="adev-cl__nav-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9.172 18.657a1 1 0 0 1-.707-1.707l4.95-4.95l-4.95-4.95a1 1 0 0 1 1.414-1.414l5.656 5.657a1 1 0 0 1 0 1.414L9.88 18.364a.997.997 0 0 1-.707.293Z"/></svg>
            </span>
        </a>
    </li>

</ul>